<a href="https://colab.research.google.com/github/nishantparmar24/Political-Risk/blob/master/DataResorceCleaner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
import os
import pandas as pd
import re

In [0]:
drive.mount("/gdrive")

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [0]:
input_directory = "/gdrive/My Drive/Political Risk Project/Test Data"
file_prefix = "Data-Collection-"
date_prefix = "2019-11-28"
version_pfx = "-v1"
file_ext = ".csv"

In [0]:
file_name = "{}{}{}{}".format(file_prefix, date_prefix, version_pfx, file_ext)
file_path = os.path.join(input_directory, "it-it", file_name)
input_file = pd.read_csv(file_path, encoding="utf-8")
# os.listdir(os.path.join(input_directory))

In [0]:
input_file

                                                  data  rating
0    https://www.cityam.com/legitimacy-crisis-bank-...     NaN
1    https://www.cnbc.com/2019/07/15/britain-faces-...     NaN
2    https://www.pharmaceutical-journal.com/news-an...     NaN
3    https://www.ft.com/content/9fe37816-ffa4-11e8-...     NaN
4    https://www.theguardian.com/business/2019/jul/...     NaN
..                                                 ...     ...
755  http://www.ansa.it/sito/notizie/cronaca/2019/1...     NaN
756  http://www.ansa.it/sito/notizie/topnews/2019/1...     NaN
757  http://www.ansa.it/sito/notizie/politica/2019/...     NaN
758  http://www.ansa.it/umbria/notizie/2019/11/21/v...     NaN
759  http://www.ansa.it/umbria/notizie/2019/11/25/l...     NaN

[759 rows x 2 columns]

In [0]:
exclusion_keywords = ["([bB]ritain)", "(uk)", "([bB]rexit)", "(\.|-uk)",
                      "([uU]nited [kK]ingdom)", "([usa|USA])", 
                      "([uU]nited [sS]tates)", 
                      "([uU]nited [sS]tates of [aA]merica)", "([aA]merica)", 
                      "([jJ]ohnson)", "([tT]rump)", "([bB]oris)", "([dD]onald)",
                      "(u-k)", "(u-s)", "(u-s-a)"]

In [0]:
inclusion_keywords = [r".*(\.it).*", r".*(ital[y|i.*]).*"]

In [0]:
"""
exclusion_keywords = ["[bB]ritain", "uk", "[bB]rexit", "\.|-uk",
                      "[uU]nited [kK]ingdom", "[usa|USA]", 
                      "[uU]nited [sS]tates", 
                      "[uU]nited [sS]tates of [aA]merica", "[aA]merica", 
                      "[tT]rump", "[bB]oris", "u-k", "u-s", "u-s-a"]
"""

In [0]:
print("|".join(inclusion_keywords))

.*(\.it).*|.*(ital[y|i.*]).*

In [0]:
str_prefix_cleanup = lambda s: re.subn("^=\s*\W+", "", s)[0]

In [0]:
output_file_name = "Italy-Collection-2019-11-28-v3.csv"
output_file_path = os.path.join(input_directory, "it-it", "Italy-collection", 
                                output_file_name)

In [0]:
input_file.dropna(subset=["data"], inplace=True)
prefix_eq_df = input_file[input_file.data.str.contains("^=")]
if prefix_eq_df.shape[0] > 0:
    prefix_eq_df = input_file.data.apply(str_prefix_cleanup)
# str_prefix_cleanup(prefix_with_eq)
prefix_with_eq

528    coalition between the Carrodagnana wing of Cen...
Name: data, dtype: object

In [0]:
targeted_df = input_file[input_file.data.str.contains(
    "|".join(inclusion_keywords))]

targeted_df

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                                  data  rating
47   https://feder.bio/cambiamenti-climatici-al-cen...     NaN
48   https://www.internazionale.it/notizie/2019/08/...     NaN
49   https://www.ilfoglio.it/economia/2019/04/24/ne...     NaN
50   https://www.internazionale.it/opinione/gerhard...     NaN
51   https://www.ilfattoquotidiano.it/2019/08/18/de...     NaN
..                                                 ...     ...
755  http://www.ansa.it/sito/notizie/cronaca/2019/1...     NaN
756  http://www.ansa.it/sito/notizie/topnews/2019/1...     NaN
757  http://www.ansa.it/sito/notizie/politica/2019/...     NaN
758  http://www.ansa.it/umbria/notizie/2019/11/21/v...     NaN
759  http://www.ansa.it/umbria/notizie/2019/11/25/l...     NaN

[169 rows x 2 columns]

In [0]:
if targeted_df.shape[0] < input_file.shape[0] and targeted_df.shape[0] > 0:
    targeted_df.to_csv(output_file_path, index=False)
else:
    print("Target DataFrame seems incorrect. Please check DataFrames again.")

In [0]:
file_name_2 = "{}{}{}{}".format(file_prefix, date_prefix, version_pfx, file_ext)
file_path_2 = os.path.join(input_directory, "en-it", file_name_2)
input_df_2 = pd.read_csv(file_path_2, encoding="utf-8")
input_df_2["rating"] = ""
input_df_2.dropna(subset=["data"], inplace=True)
input_df_2

                                                  data rating
0    How will an early election stop us crashing ou...
1    People voted just a year and a half ago, there...
2    Elezioni anticipate I saw this on the BBC and ...
3    Appello I saw this on the BBC and thought you ...
4    Still waiting for a witness to state unequivoc...
..                                                 ...    ...
568  https://www.reuters.com/article/us-yemen-secur...
569  https://www.reuters.com/article/us-spain-polit...
570  https://www.reuters.com/article/us-yemen-secur...
571  https://www.reuters.com/article/us-ethiopia-po...
572  https://www.reuters.com/article/us-slovakia-po...

[572 rows x 2 columns]

In [0]:
output_file_name_2 = "Italy-Collection-2019-11-28-v4.csv"
output_file_path_2 = os.path.join(input_directory, "it-it", output_file_name_2)

In [0]:
targeted_df_2 = input_df_2[input_df_2.data.str.contains("|".join(
    inclusion_keywords))]

targeted_df_2

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                                  data rating
471  https://www.reuters.com/article/us-italy-polit...
476  https://www.reuters.com/article/us-internet-ta...
502  https://www.reuters.com/article/us-italy-polit...
532  https://www.reuters.com/article/us-italy-defen...

In [0]:
# prefix_eq_df = targeted_df_2[targeted_df_2.data.str.contains("^=")]
# if prefix_eq_df.shape[0] > 0:
#     targeted_df_2 = prefix_eq_df.data.apply(str_prefix_cleanup)

if targeted_df_2.shape[0] < input_file.shape[0] and targeted_df_2.shape[0] > 0:
    targeted_df_2.to_csv(output_file_path_2, index=False)
else:
    print("Target DataFrame seems incorrect. Please check DataFrames again.")